body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1em;
    padding: 0;
    margin: 0;
    background: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* header */
header {
    color: #ffffff;
    background-color: #3b5998;
    font-family: inherit;
    padding-top: 13px;
    min-height: 70px;
    border-bottom: #0e1f56 1px solid;
}

header #toplogo{
    font: roboto;
    color: #ffffff;
    font-size: x-large;
    float: left;
    margin: 0;
}

.subhead{
    float: right;
    padding: 0 0 0 0;
    line-height: 0;
}

header li{
    display: inline;
    padding-right: 44px;
    padding-left: 0;
    padding-bottom: 0;
}

header p{
    padding-left: 14em;
    color: silver;
}

header button{
    background-color: #4c66a4;
    border: #24409c 1px solid;
    color: #ffffff;
}

span {
    color: #3458ce;
}
/* middle */
#general{
    background-color: #eceef7;
}

/* #connect {
    color: #0c2458;
    font-size: 12px;
    padding-top: 20px;
    line-height: 1.5em;
    float: left;
    padding: 60px;
    margin-bottom: 10px;
}

#signup {
    float: right;
} */

select{
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 13px;
    color: #666;
}

.same{
    color: rgb(156, 156, 156);
    font-weight: bold;
    font-size: 17px;
}

.gender{
    padding-top: 0;
    padding-bottom: 4px;
    font-size: large;
    color: #555454;
}

#bigGreen{
    color: #ffffff;
    margin: auto;
    font-weight: bold;
    font: roboto;
    font-size: large;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 4px;
    letter-spacing: normal;
    background-color: #69a74e;
    border-color: #a8db9b;
}

p.celeb{
    padding-top: 20px;
    font-size: 12.5px;
    font-weight: bold;
    color: rgb(128, 128, 128);
    padding-bottom: 15px;
}

p.click{
    font-size: 11px;
    font: roboto;
    color: #818181;
    padding-bottom: 10px;
}

hr {
    width: 7500px;
    background-color:#666;
    opacity: 0.5;
}

#footnote {
    font-size: 15px;
    justify-content: space-evenly;
    font-family: Roboto;
    color: #484d6b;
    line-height: 1.5em;
}

#footer{
    color: #666;
    font-size: 10px;
}
