body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1em;
    padding: 0;
    margin: 0;
    background: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* header */
header {
    color: #ffffff;
    background-color: #3b5998;
    font-family: inherit;
    padding-top: 13px;
    min-height: 70px;
    border-bottom: #0e1f56 1px solid;
}

header #toplogo{
    font: roboto;
    color: #ffffff;
    font-size: x-large;
    float: left;
    margin: 0;
}

.subhead{
    float: right;
    padding: 0 0 0 0;
    line-height: 0;
}

header li{
    display: inline;
    padding-right: 44px;
    padding-left: 0;
    padding-bottom: 0;
}

header p{
    padding-left: 14em;
    color: silver;
}

header button{
    background-color: #4c66a4;
    border: #24409c 1px solid;
    color: #ffffff;
}

/* middle */
#general{
    background-color: #d9dbe6;
}

/* #connect {
    color: #0c2458;
    font-size: 12px;
    padding-top: 20px;
    line-height: 1.5em;
    float: left;
    padding: 60px;
    margin-bottom: 10px;
}

#signup {
    float: right;
} */

hr {
    width: 7500px;
    background-color:#666;
    opacity: 0.5;
}

#footnote {
    font-size: 15px;
    justify-content: space-evenly;
    font-family: Roboto;
    color: #484d6b;
    line-height: 1.5em;
}

#footer{
    color: #666;
    font-size: 10px;
}